<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-bambuser" version="0.9.13">
    <name>Bambuser Mobile SDK</name>
    <description>Cordova plugin for Bambuser Mobile SDK</description>
    <keywords>cordova,bambuser,camera</keywords>
    <js-module src="www/broadcaster.js">
        <clobbers target="bambuser.broadcaster" />
    </js-module>
    <js-module src="www/player.js">
        <clobbers target="bambuser.player" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaBambuserBroadcaster">
                <param name="android-package" value="com.bambuser.cordova.CordovaBambuserBroadcaster"/>
            </feature>
            <feature name="CordovaBambuserPlayer">
                <param name="android-package" value="com.bambuser.cordova.CordovaBambuserPlayer"/>
            </feature>
            <preference name="backgroundColor" value="0x00000000" /><!-- http://stackoverflow.com/a/18068662 -->
        </config-file>
        <source-file src="src/android/CordovaBambuserBroadcaster.java" target-dir="src/com/bambuser/cordova" />
        <source-file src="src/android/CordovaBambuserPlayer.java" target-dir="src/com/bambuser/cordova" />
        <!-- the npm postinstall hook in package.json downloads and unzips the sdk -->
        <resource-file src="libbambuser-android-0.9.21-200424/libbambuser-0.9.21.aar" target="libbambuser/libbambuser-0.9.21.aar" />
        <framework src="src/android/libbambuser.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaBambuserBroadcaster">
                <param name="ios-package" value="CordovaBambuserBroadcaster" />
                <param name="onload" value="true" />
            </feature>
            <feature name="CordovaBambuserPlayer">
                <param name="ios-package" value="CordovaBambuserPlayer" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaBambuserBroadcaster.h" />
        <source-file src="src/ios/CordovaBambuserBroadcaster.m" />
        <header-file src="src/ios/CordovaBambuserPlayer.h" />
        <source-file src="src/ios/CordovaBambuserPlayer.m" />
        <!-- the npm postinstall hook in package.json downloads and unzips the sdk -->
        <header-file src="libbambuser-ios-0.9.28-200428/prebuilt/include/BambuserConstants.h" target-dir="libbambuser-ios/prebuilt/include" />
        <header-file src="libbambuser-ios-0.9.28-200428/prebuilt/include/BambuserViewDelegate.h" target-dir="libbambuser-ios/prebuilt/include"/>
        <header-file src="libbambuser-ios-0.9.28-200428/prebuilt/include/libbambuser.h" target-dir="libbambuser-ios/prebuilt/include" />
        <header-file src="libbambuser-ios-0.9.28-200428/prebuilt/include/libbambuserplayer.h" target-dir="libbambuser-ios/prebuilt/include" />
        <header-file src="libbambuser-ios-0.9.28-200428/prebuilt/include/libbambuserplayer-constants.h" target-dir="libbambuser-ios/prebuilt/include" />
        <source-file src="libbambuser-ios-0.9.28-200428/prebuilt/lib/libbambuser.a" framework="true" target-dir="libbambuser-ios/prebuilt/lib" />
        <source-file src="libbambuser-ios-0.9.28-200428/prebuilt/lib/libbambuserplayer.a" framework="true" target-dir="libbambuser-ios/prebuilt/lib" />
        <framework src="libz.tbd" />
        <framework src="libc++.tbd" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="Foundation.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="AVKit.framework" />

        <preference name="BAMBUSER_CAMERA_USAGE_DESCRIPTION" default="Access camera to stream live" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>$BAMBUSER_CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="BAMBUSER_MIC_USAGE_DESCRIPTION" default="Access microphone to stream live" />
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>$BAMBUSER_MIC_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>
