<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-bambuser" version="0.4.0">
    <name>Bambuser Mobile SDK</name>
    <description>Cordova plugin for Bambuser Mobile SDK</description>
    <keywords>cordova,bambuser,camera</keywords>
    <js-module src="www/broadcaster.js">
        <clobbers target="bambuser.broadcaster" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.hardware.camera.any" android:required="true" />
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaBambuserBroadcaster">
                <param name="android-package" value="com.bambuser.cordova.CordovaBambuserBroadcaster"/>
            </feature>
            <preference name="backgroundColor" value="0x00000000" /><!-- http://stackoverflow.com/a/18068662 -->
        </config-file>
        <source-file src="src/android/CordovaBambuserBroadcaster.java" target-dir="src/com/bambuser/cordova" />
        <source-file src="libbambuser-android/lib/libs/classes.jar" target-dir="libs" />
        <source-file src="libbambuser-android/lib/libs/armeabi/libbambuser-accel-froyo.so" target-dir="libs/armeabi" />
        <source-file src="libbambuser-android/lib/libs/armeabi/libbambuser-accel-hc.so" target-dir="libs/armeabi" />
        <source-file src="libbambuser-android/lib/libs/armeabi/libbambuser-accel-ics.so" target-dir="libs/armeabi" />
        <source-file src="libbambuser-android/lib/libs/armeabi/libbambuser.so" target-dir="libs/armeabi" />
        <source-file src="libbambuser-android/lib/libs/armeabi-v7a/libbambuser-accel-froyo.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libbambuser-android/lib/libs/armeabi-v7a/libbambuser-accel-hc.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libbambuser-android/lib/libs/armeabi-v7a/libbambuser-accel-ics.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libbambuser-android/lib/libs/armeabi-v7a/libbambuser.so" target-dir="libs/armeabi-v7a" />
        <!-- resource-file src="libbambuser-android/libbambuser-0.9.1.aar" target="libs" / --><!-- http://stackoverflow.com/a/30757738 -->
    </platform>
</plugin>
